{% extends 'base.html.twig' %}

{% block body %}
    <h1>List of User Roles</h1>
    <ul>
        {% for userRole in userRoles %}
            <li>
                User: {{ userRole.user_id.username }} - Role: {{ userRole.role_id.name }}
                <a href="{{ path('app_user_role_edit', {id: userRole.id}) }}">Edit Role</a>
                <form action="{{ path('app_user_role_delete', {id: userRole.id}) }}" method="POST">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ userRole.id) }}">
                    <button type="submit">Delete Role</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_user_role_new') }}">Assign New Role</a>
    </div>
{% endblock %}
