{% extends 'base.html.twig' %}

{% block body %}
<style>
    .main-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .main-wrapper h1 { margin-bottom: 1em; }
    .main-wrapper .fridge-list { margin-top: 1em; }
    .main-wrapper form { margin-top: 2em; }
    .main-wrapper label { display: block; margin-bottom: 0.5em; }
    .main-wrapper input, .main-wrapper button { margin-bottom: 1em; }
    .main-wrapper input { padding: 0.5em; width: 100%; }
    .main-wrapper button { padding: 0.5em 1em; }
    .error { color: red; }
</style>
    <h1>Edytuj użytkownika</h1>
    <form action="{{ path('app_user_edit', {id: user.id}) }}" method="POST">
        <label for="username">Nazwa:</label>
        <input type="text" name="username" value="{{ user.username }}" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" value="{{ user.email }}" required><br>

        <label for="password">Hasło:</label>
        <input type="password" name="password" value="{{ user.password }}" required><br>

        <label for="roles">Rola:</label>
    <select name="roles[]" id="roles" multiple>
        {% for role in availableRoles %}
            <option value="{{ role.roleName }}" {% if role.roleName in currentRoles %}selected{% endif %}>
                {{ role.roleName }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Zapisz zmiany</button>
    </form>
    <a href="{{ path('app_user_list') }}">Wróć do listy</a>
    </div>
{% endblock %}
